<!-- Home Page -->
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-5">Bem-Vindo ao site de agendamentos online</h1>
  <p class="lead">Realize agendamentos com 100% de eficiencia</p>
  <hr class="my-1">
  <p>Marque, Desmarque, Modifique e Exclua. <br> Crie uma Agenda do seu jeitinho!</p>

  {{#if user}}

  {{else}}
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  {{/if}}

</div>

<hr>
<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>
      {{this.titulo}}
    </h3>
    <p>
      {{this.descricao}}
    </p>
    <a href="/postagem/{{slug}}"><button class="btn btn-outline-primary btn-sm mt-2">Leia Mais</button></a>
    <hr>
    <small>Agendamento: <b>{{categorias.Evento}}</b> </small> <br>
    <small>Data de publicação: {{this.data}}</small>
  </div>
</div>

{{else}}
<h4>Nenhuma postagem registrada!</h4>
{{/each}}