<!-- CRUD de postagens -->
<h2>Lista de Postagem: </h2>

<a href="/postagens/add"><button class="btn btn-success">Cadastrar Postagem</button></a>

<hr>
{{#each postagens}}
     <div class="card mt-4">
        <div class="card-body">
            <h4>
                {{this.titulo}}
            </h4>
            <h5>
                Horários: {{this.slug}}
            </h5>
            <h5>
                Descrição: {{this.descricao}}
            </h5>
            <h5> <br>
                Conteúdo: {{this.conteudo}}
            </h5> <br>
            <h5>
                Agendas: {{categorias.Evento}}
            </h5>
            <a href="/postagens/edit/{{_id}}"><button class="btn btn-success mt-2">Editar</button></a>
            <a href="/postagens/delete/{{_id}}"><button type="submit" class="btn btn-danger mt-2">Deletar</button></a>
        <hr>
        <small>
            Data de criação: {{this.data}}
        </small>
        </div>
    </div>
{{else}}
<h4>Nenhuma postagem registrada!</h4>
{{/each}}